rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /exercises/{id} {
      allow read, write: if true;
    }
    match /workouts/{id} {
      allow read, write: if true;
    }
    match /templates/{id} {
      allow read, write: if true;
    }
  }
}
